/* Avatar.module.css */

.Avatar {
    width: 48px;
    height: 48px;
    background-color: bisque;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  .Menu {
    position: absolute;
    top: 64px; /* Adjust the top value as needed */
    right: -38px;
    background-color: #fff;

    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0.1, 0.1, 0.1, 0.1)
  }
  
  .MenuList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .MenuList li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .MenuList li:hover {
    background-color: #c0bdbd5b;
  }

  .MenuList li:last-child {
    border-bottom: none;
  }
  
  .MenuList a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s ease-in-out;
  }
  
  /* .MenuList a:hover {
    color: #007bff;
  } */
  
  @media (max-width: 620px) {
    .Avatar {
      width: 28px;
      height: 28px;
    }
  
    .Menu {
      top: 48px; /* Adjust the top value as needed */
      left: 0;
      right: 0;
    }
  }
  