



.coverImg {
  height: 272px;
}

.GHQ {
  right: 0;
  left: 0;
  text-align: center;
  position: absolute;
  font-size: 3rem;
  color: azure;
}


.img {
  height: 272px;
  width: 100%;
  object-fit: cover;
}

