.Section {
    background-color: #054652;
    padding: 38px 10px;
}

.TitelSection {
    padding-bottom: 20px;
    color: #ffffff;
}



.UlPapulerTrip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.UlPapulerTrip li{
    border-radius: 16px;
    height: 85px;
    background-color: #ffffff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.UlPapulerTrip li:hover {
    background-color: #ccccccc7;
    transition: 0.3s;
}

.UlPapulerTrip a{
    text-decoration: none;
    font-size: large;
    color: #054652;
}

.UlPapulerTrip a:hover {
    color: azure;
}



@media (max-width: 620px) {
    .UlPapulerTrip {
        grid-template-columns: 1fr;
      }

}